{% load static %}
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <!-- Barra lateral - Marca -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'Apps.pos:index' %}">
        <div class="sidebar-brand-icon">
                <img id="preview-image" alt="Archivo binario" src="{% static 'decicomico.png' %}" style="    height: 50px;
                width: 60px;
                background-color: #4e73df;">
        </div>
        <div class="sidebar-brand-text mx-3">DeciCom</div>
    </a>
    <!-- Divisor -->
    <hr class="sidebar-divider  mb-0">
    <!-- Elemento de navegación - Panel -->
    <li class="{% if "dashboard" in active_icon %} nav-item active {% else %} nav-item {% endif %}">
        <a class="nav-link" href="{% url 'Apps.pos:index' %}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>
    <hr class="sidebar-divider my-0">
    <!-- Elemento de navegación - Menú contraer productos -->
    <li class="{% if "products" in active_icon %} nav-item active {% else %} nav-item {% endif %}">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
            aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-dolly"></i>
            <span>Inventario</span>
        </a>
        <div id="collapseTwo" class="{% if "products" in active_icon %} collapse show {% else %} collapse {% endif %}" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="{% if "categories" in active_icon %} collapse-item active {% else %} collapse-item {% endif %}" href="{% url 'Apps.products:categories_list' %}">Categorias</a>
                <a class="{% if "warehouse" in active_icon %} collapse-item active {% else %} collapse-item {% endif %}" href="{% url 'Apps.products:warehouses_list' %}">Almacenes</a>
                <a class="{% if "products2" in active_icon %} collapse-item active {% else %} collapse-item {% endif %}" href="{% url 'Apps.products:products_list' %}">Productos</a>
            </div>
        </div>
    </li>
    <hr class="sidebar-divider my-0">
    <!-- Elemento de navegación - Menú contraer productos -->
    <li class="{% if "buys" in active_icon %} nav-item active {% else %} nav-item {% endif %}">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseThree"
            aria-expanded="true" aria-controls="collapseThree">
            <i class="fas fa-fw fa-business-time"></i>
            <span>Compras</span>
        </a>
        <div id="collapseThree" class="{% if "buys" in active_icon %} collapse show {% else %} collapse {% endif %}" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="{% if "buys_list" in active_icon %} collapse-item active {% else %} collapse-item {% endif %}" href="{% url 'Apps.buys:shopping_list' %}">Listas</a>
                <a class="{% if "buyss" in active_icon %} collapse-item active {% else %} collapse-item {% endif %}" href="{% url 'Apps.buys:buyss_list' %}">Compras</a>
            </div>
        </div>
    </li>
    <hr class="sidebar-divider my-0">
    <li class="{% if "customers" in active_icon %} nav-item active {% else %} nav-item {% endif %}">
        <a class="nav-link" href="{% url 'Apps.customers:customers_list' %}">
            <i class="fas fa-fw fa-users"></i>
            <span>Clientes</span></a>
    </li>
    <hr class="sidebar-divider my-0">
    <li class="{% if "suppliers" in active_icon %} nav-item active {% else %} nav-item {% endif %}">
        <a class="nav-link" href="{% url 'Apps.suppliers:suppliers_list' %}">
            <i class="fas fa-fw fa-truck"></i>
            <span>Proveedores</span></a>
    </li>
    <hr class="sidebar-divider my-0">
    <li class="{% if "sales" in active_icon %} nav-item active {% else %} nav-item {% endif %}">
        <a class="nav-link" href="{% url 'Apps.sales:sales_list' %}">
            <i class="fas fa-fw fa-cart-plus"></i>
            <span>Ventas</span></a>
    </li>
    <hr class="sidebar-divider d-none d-md-block">
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>